@font-face {
    font-family: Sora;
    src: url(./fonts/Sora-Regular.ttf);
}
@font-face {
    font-family: SoraBold;
    src: url(./fonts/Sora-Bold.ttf);
}

body {
    font-family: Sora, Helvetica, sans-serif;
    background-color: FFF2F8;
    margin: 0;
}

h1 {
    font-size: 4vw;
}

#banner {
    background-image: url(./assets/baner.png);
    background-position: center;
    background-size: cover;
    font-family: SoraBold, Helvetica, sans-serif;
}

#avatar-image {
    max-width: 25rem;
    margin-left: 0;
    margin-right: 0;
}

#banner-center {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    padding: 0 200;
    align-items: center;
}

#content {
    padding: 0 60;
} 

.center-row {
    text-align: center;
    padding: 10 160;
}

.center-column {
    padding: 10 120;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.center-column-item {
    flex: 1;
    padding: 0 40;
}

.center-horizontal-line {
    border-bottom: .1rem solid #e3426d;
}

.center-vertical-line {
    border-right: .1rem solid #e3426d;
}

.text-emphasize {
    color: #e3426d;
    font-family: SoraBold, Helvetica, sans-serif;
}

/* ADVANCED */
.text-highlight {
    background: linear-gradient(180deg, #f7cad0 70%, #e3426d 30%);
}  

.text-tag {
    background-color: #e3426d;
    color: white;
    padding: 5px;
    margin: 5 0;
    display: inline-block;
    letter-spacing: 0.1vw;
    position: relative;
    /* ADVANCED ANIMATIONS */
    animation-name: change-tag-background;
    animation-duration: 3s;
    top: 0;
}
/* ADVANCED ANIMATIONS */
@keyframes change-tag-background {
    from {
        background-color: #f7cad0;
        top: -20;
    }
    to {
        background-color: #e3426d;
        top: 0;
    }
}
/* ADVANCED HOVER EFFECTS */
.text-tag:hover {
    cursor: pointer;
    color: black;
    background-color: #f7cad0;
}